
    #header-top {
        width: 100%;
        height: 40px;
        border-bottom: 2px solid #ddd;
    }

    #header-top .main {
        width: 1200px;
        height: 40px;
        margin: 0 auto;

    }

    #header-top .main .thong-tin-lien-he {
        width: fit-content;
        display: flex;
        padding: 10px;
        float: left;
    }

    #header-top .main .thong-tin-lien-he .phan-cach {
        border-right: 1px solid black;
        height: 20px;
    }

    #header-top .login-sign-up {
        width: fit-content;
        float: right;
    }

    #header-top .main .thong-tin-lien-he span {
        padding: 0px 15px;
    }

    #header-top .login-sign-up ul li {
        display: inline-block;
        width: 100px;
        height: 40px;

        text-align: center;
    }

    #header-top .login-sign-up ul li a {
        display: block;
        color: black;
        text-decoration: none;
        width: 100px;
        height: 40px;
        line-height: 40px;

    }

    #header-mid {
        width: 100%;
        height: 120px;
        margin-bottom: 0 !important;
    }

    #header-mid .main {

        box-sizing: border-box;
        width: 1200px;
        height: 100px;
        margin: 0 auto;

        clear: both;
        padding: 20px 0px;


    }

    #header-mid .main .logo {
        width: 19%;
        height: 100%;
        float: left;

    }

    #header-mid .main .logo img {
        height: 60px;
        margin-left: 20px;
    }

    #header-mid .main .tim-kiem {
        width: 65%;
        height: fit-content;
        float: left;
        /* background-color: green; */
        display: flex;
        margin-top: 10px;
    }

    #header-mid .main .gio-hang {
        width: 15%;
        height: 100%;
        float: left;

    }

    #header-mid .main .tim-kiem input {
        font-size: 19px;
        width: 630px;
        height: 20px !important;
        padding: 10px 20px;
        border: 1px solid #ddd;
        outline: none;
    }

    #header-mid .main .tim-kiem button {
        outline: none;
        width: 45px;
        border: 1px solid #ddd;
        background-color: #f6c248;
        cursor: pointer;

    }

    #header-mid .main .gio-hang .gio {

        width: 100%;
        height: 100%;
        border: 2px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #header-bot {
        background-color: black;
        width: 100%;
        height: 50px;
    }

    #header-bot nav {
        width: 1200px;
        margin: 0 auto;
    }

    #header-bot nav ul {
        width: fit-content;
        margin: 0 auto;
        display: flex;
    }

    #header-bot nav ul li {
        list-style: none;
        width: 140px;

        border-left: 1px solid rgba(221, 221, 221, 0.377);
        text-align: center;
    }

    #header-bot nav ul li a {
        display: block;
        color: white;
        text-decoration: none;
        height: 50px;
        line-height: 50px;
        padding: 0px 10px;
        font-weight: bold;

    }

    #header-bot nav ul li:last-child {
        border-right: 1px solid rgba(221, 221, 221, 0.377);
    }

    #header-bot nav ul li:hover {
        background-color: #e5ad2c;
    }

    #slider {
        width: 1600px;
        height: 700px;

        margin: 0 auto;
        background-color: cornflowerblue;
        position: relative;

    }

    #slider .slider-item img {
        height: 100%;
    }

    #slider .slider-item {
        text-align: center;
        height: 750px;
        display: none;
    }



    .nut-slider span {
        display: block;
        padding: 20px 10px;
        cursor: pointer;
        font-size: 40px;
        color: white;
        opacity: 0.6;
        cursor: pointer;
        background-color: crimson;
    }


    #btn-prev {
        position: absolute;
        z-index: 3;
        top: 50%;
        left: 1%;
        transform: translateY(-50%);
    }

    #btn-next {
        position: absolute;
        z-index: 3;
        top: 50%;
        right: 1%;
        transform: translateY(-50%);
    }


    .nut-slider i {
        font-size: 50px;
    }






