* {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
}

#header-top {
    width: 100%;
    height: 40px;
    border-bottom: 2px solid #ddd;
}

#header-top .main {
    width: 1200px;
    height: 40px;
    margin: 0 auto;
}

#header-top .main .thong-tin-lien-he {
    width: fit-content;
    display: flex;
    padding: 10px;
    float: left;
}

#header-top .main .thong-tin-lien-he .phan-cach {
    border-right: 1px solid black;
    height: 20px;
}

#header-top .login-sign-up {
    width: fit-content;
    float: right;
}

#header-top .main .thong-tin-lien-he span {
    padding: 0px 15px;
}

#header-top .login-sign-up ul li {
    display: inline-block;
    width: 100px;
    height: 40px;
    text-align: center;
}

#header-top .login-sign-up ul li a {
    display: block;
    color: black;
    text-decoration: none;
    width: 100px;
    height: 40px;
    line-height: 40px;
}

#header-mid {
    width: 100%;
    height: 120px;
    margin-bottom: 20px;
    padding: 20px 0px;
}

#header-mid .main {
    margin: 0 auto;
    clear: both;
    width: 1200px;
    height: 100px;
}

#header-mid .main .logo {
    width: 19%;
    height: 100%;
    float: left;
}

#header-mid .main .logo img {
    height: 60px;
    margin-left: 20px;
}

#header-mid .main .tim-kiem {
    width: 65%;
    height: fit-content;
    float: left;
    /* background-color: green; */
    display: flex;
    margin-top: 10px;
}

#header-mid .main .gio-hang {
    width: 15%;
    height: 100%;
    float: left;
}

#header-mid .main .tim-kiem input {
    font-size: 19px;
    width: 630px;
    height: 40px !important;
    padding: 10px 20px;
    border: 1px solid #ddd;
    outline: none;
}

#header-mid .main .tim-kiem button {
    outline: none;
    width: 45px;
    border: 1px solid #ddd;
    background-color: #f6c248;
    cursor: pointer;
}

#header-mid .main .gio-hang .gio {
    width: 100%;
    height: 100%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-bot {
    background-color: black;
    width: 100%;
    height: 50px;
    margin-bottom: 50px;
}

#header-bot nav {
    width: 1200px;
    margin: 0 auto;
}

#header-bot nav ul {
    width: fit-content;
    margin: 0 auto;
    display: flex;
}

#header-bot nav ul li {
    list-style: none;
    width: 140px;
    border-left: 1px solid rgba(221, 221, 221, 0.377);
    text-align: center;
    background-color: black;
}

#header-bot nav ul li a {
    display: block;
    color: white;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    padding: 0px 10px;
    font-weight: bold;
}

#header-bot nav ul li:last-child {
    border-right: 1px solid rgba(221, 221, 221, 0.377);
}

#header-bot nav ul li:hover {
    background-color: #e5ad2c;
}

#slider {
    width: 1600px;
    height: 700px;
    margin: 0 auto;
    background-color: cornflowerblue;
    position: relative;
}

#slider .slider-item img {
    width: 1600px !important;
}

#slider .slider-item {
    text-align: center;
    height: 750px;
    display: none;
}

.nut-slider span {
    display: block;
    padding: 20px 10px;
    cursor: pointer;
    font-size: 40px;
    color: white;
    opacity: 0.6;
    /* background-color: crimson; */
}

#btn-prev {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 1%;
    transform: translateY(-50%);
}

#btn-next {
    position: absolute;
    z-index: 3;
    top: 50%;
    right: 1%;
    transform: translateY(-50%);
}

.nut-slider i {
    font-size: 50px;
}

header {
    height: 100px;
    background-color: rgba(255, 66, 8, 0.931);
}

main {
    margin: 0 auto;
    width: 1200px;
    min-height: 500px;
    /* background-color: green; */
    margin-top: 130px;
}

footer {
    height: fit-content;
    background-color: black;
    margin-top: 50px;
}

#san-pham-noi-bat, #san-pham-laptop, #san-pham-man-hinh {
    /* background-color: green; */
    display: flex;
    transition: 0.8s ease-in-out;
}

.san-pham-noi-bat {
    margin-bottom: 100px;
}

.san-pham-noi-bat .san-pham {
    height: 360px;
    padding: 10px 0px;
    width: 1200px;
    overflow: hidden;
    /* background-color: green; */
}

.san-pham-khuyen-mai {
    margin-top: 50px;
}

.san-pham-noi-bat .item {
    /* box-sizing: border-box; */
    margin-right: 18px;
    border: 1px solid #ddd;
    width: 225px;
    max-height: 360px;
    padding: 20px;
    box-shadow: 2px 2px 4px #ddd;
    position: relative;
}

.san-pham-noi-bat .item .anh-san-pham {
    width: 200px;
    height: 170px;
    text-align: center;
    display: flex;
    align-items: center;
}

.san-pham-noi-bat .item .anh-san-pham img {
    height: 100%;
    width: 95%;
    object-fit: contain;
}

.san-pham-noi-bat .item .thong-tin-san-pham {
    padding-top: 20px;
    width: 100%;
    height: fit-content;
    display: block;
}

.san-pham-noi-bat .item .ten-san-pham {
    width: 100%;
    height: 45px;
    margin-bottom: 15px;
    word-wrap: break-word;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.san-pham-noi-bat .item .ten-san-pham span {
    font-size: 17px;
    font-weight: bold;
}

.san-pham-noi-bat .item .gia-ban span, .item-gio-hang .gia-ban {
    font-size: 20px;
    font-weight: bold;
    color: rgb(250, 67, 35);
}

.san-pham-noi-bat .item .gia-truoc-giam span, .item-gio-hang .gia-goc {
    font-size: 12px;
    text-decoration: line-through;
}

.san-pham-noi-bat .btn-them-san-pham {
    opacity: 0;
    outline: none;
    background-color: white;
    transition: display 1s ease-in;
    padding: 8px 10px;
    border: 1px solid rgb(250, 67, 35);
    border-radius: 3px;
    position: absolute;
    right: 20px;
    bottom: 25px;
    cursor: pointer;
}

.phan-tram-giam-gia {
    width: 40px;
    height: 36px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    text-align: center;
    padding-top: 2px;
    color: #fff;
    font-weight: bold;
    background-image: url(../images/deal-tag.png);
    background-repeat: no-repeat;
}

.san-pham-noi-bat .item:hover {
    transform: translateY(-4px);
    transition: transform 0.3s ease-in-out;
}

.san-pham-noi-bat .item:hover .btn-them-san-pham {
    opacity: 1;
    transition: .7s ease-in-out;
}

nav {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

menu {
    position: absolute;
    right: 0;
    bottom: 0;
}

menu ul li {
    float: left;
    padding: 10px;
    list-style: none;
}

.form-input-san-pham label, .form-input-san-pham label input {
    width: 100%;
}

.form-input-san-pham label {
    font-size: 16px;
    font-weight: bold;
}

.form-input-san-pham input {
    padding: 7px 10px;
    width: 100%;
    margin-bottom: 15px;
}

.hien-thi-loi {
    margin-top: -10px;
    margin-bottom: 10px;
    width: 100%;
    height: 15px;
}

.form .hien-thi-loi p {
    font-size: 12px !important;
    color: red;
}

.modal-content {
    padding: 10px 10px;
}

main#gio-hang {
    width: 1200px;
    height: fit-content;
}

.clearfix:after {
    content: ".";
    visibility: hidden;
    display: block;
    clear: both;
}

main#gio-hang .danh-sach-gio-hang {
    width: 768px;
    min-height: 500px;
    float: left;
    /* background-color: turquoise; */
}

main#gio-hang .thanh-toan {
    box-sizing: border-box;
    width: 388px;
    min-height: 500px;
    float: right;
    /* background-color: #ddd; */
    border: 2px solid black;
    padding: 30px;
}

main#gio-hang .danh-sach-gio-hang .item-gio-hang {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 20px 40px 20px 30px;
    width: 100%;
    height: 110px;
    /* background-color: tomato; */
}

.danh-sach-gio-hang .item-gio-hang .anh-san-pham {
    box-sizing: border-box;
    width: 75px;
    height: 75px;
    border-radius: 4px;
    border: 2px solid #ddd;
    padding: 5px;
    text-align: center;
}

.danh-sach-gio-hang .item-gio-hang .ten-san-pham {
    width: 200px;
    height: 60px;
    word-wrap: break-word;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    font-size: 15px;
    font-weight: 550;
}

.danh-sach-gio-hang .item-gio-hang .so-luong {
    width: 120px;
}

.danh-sach-gio-hang .item-gio-hang .gia {
    width: 110px;
}

.danh-sach-gio-hang .item-gio-hang .anh-san-pham img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.danh-sach-gio-hang .item-gio-hang {
    border-bottom: 2px solid #ddd;
}

.danh-sach-gio-hang:first-child {
    border-top: 2px solid #ddd;
}

.danh-sach-gio-hang .item-gio-hang input {
    box-sizing: border-box;
    width: 35px;
    height: 30px;
    text-align: center;
    border-radius: 4px;
    border: 2px solid #ddd;
}

.danh-sach-gio-hang .item-gio-hang input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.thanh-tien {
    margin-top: 15px;
}

.thanh-tien .danh-muc-thanh-toan {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.thanh-tien .danh-muc-thanh-toan span {
    font-size: 16px;
    font-weight: 550;
}

.thanh-toan .form .danh-muc {
    position: relative;
}

.thanh-toan #tong-tien {
    color: rgb(251, 55, 21);
    font-size: 20px;
}

.thanh-toan #xac-nhan-thanh-toan {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    border-radius: 2px;
    border: none;
    background-color: rgb(251, 55, 21);
    font-size: 15px;
    color: white;
    font-weight: 550;
}

#header-bot nav .active-menu {
    background-color: #e5ad2c;
}

#header-bot nav #menu .sub-menu li {}

#menu .sub-menu{
    display: none;
  }

  #menu .sub-menu li {
      border-bottom: 1px solid #ddd;
  }

#menu li {
    position: relative;
}

#menu li:hover .sub-menu {
    display: block;
}

.sub-menu {
    display: none;
    position: absolute;
    z-index: 2;
}

.sub-menu li {
    margin-left: 0 !important;
}

.thanh-toan .form label {
    width: fit-content !important;
    position: absolute;
    top: 4px;
    left: 5px;
}

.thanh-toan .form input {
    border: none;
    border-bottom: 2px solid black;
    padding-left: 40px !important;
    outline: none;
}

.item-gio-hang .so-luong i {
    width: 20px;
    height: 20px;
    padding: 3px 0px;
    cursor: pointer;
    /* background-color: red; */
    text-align: center;
    color: rgb(148, 148, 148);
}

.xoa-item-gio-hang {
    cursor: pointer;
}

.header-top {
    width: 100%;
    height: 40px;
    background: #000;
}

.header-top .container {
    width: 1200px;
    margin: 0 auto;
}

.login-signup-label {
    float: right;
}

.login-signup-label ul li {
    float: left;
    list-style: none;
    height: 40px;
    width: 100px;
    box-sizing: border-box;
}

.login-signup-label ul li a {
    text-decoration: none;
    color: white;
    height: 40px;
    padding: 10px;
    display: block;
}

/* modal */

.modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
}

.modal .form {
    box-sizing: border-box;
    width: 500px;
    background-color: #fff;
    padding: 40px;
    margin: 10% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    position: relative;
}

.form label, .form input {
    width: 100%;
    box-sizing: border-box;
    margin: 5px 0px;
}

.form label {
    font-size: 17px;
    font-weight: bold;
}

.form input {
    padding: 7px 10px;
    margin-bottom: 15px;
}

.form button {
    width: 100%;
    padding: 10px 10px;
    background-color: rgb(76, 175, 80);
    border: none;
    color: white;
}

.form .header span#close {
    position: absolute;
    right: 8%;
    top: 5%;
    color: #000;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}

.modal-backdrop {
    z-index: 0;
}

/* style home */