* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    font-size: 17px;
   
}

header {
    width: 100%;
    background-color: #3c8dbc;
   
    height: 50px;
}
nav {
    margin-left: 250px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    text-align: center;
    width: 120px;
    height: 50px;
    
}
nav ul li a {
    text-decoration: none;
    display: block;
    line-height: 50px;
    color: #fff;
    font-weight: bold;
}

nav ul li a:hover {
    background-color: blueviolet;
}



.container-fluid {
    height: 100%;
    display: grid;
    grid-template-columns: auto auto;
}

.aside {

    width: 270px !important;
    height: 2000px;
    background-color:  #1a2226;
}



.aside ul {
    margin-top: 40px;
    width: 100%;
    height: fit-content;
    
}

.aside ul> li:first-child{
    border-top: 1px solid white;
}

.aside ul> li {
    width: 100%;
    height: 40px;
    text-align: center;
    
    border-bottom: 1px solid white;
}

.aside ul> li>a {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    color: white;
    font-weight: 600;
}




.main-contain {

    width: 100%;
    height: 100%;
    padding: 20px;
}

#danh-sach-san-pham, .san-pham-khuyen-mai {
    
    height: 400px;
    /* background-color: green; */
}
.san-pham-khuyen-mai{
    margin-top: 50px;
}

#danh-sach-san-pham .item {
    margin: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    width: 225px;
    max-height: 360px;
    padding: 15px;
    box-shadow: 2px 2px 4px #ddd;
    position: relative;
}



.item .ten-san-pham {
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    word-wrap: break-word;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.item .ten-san-pham span {
    font-size: 18px;
    font-weight: bold;
}

.item .gia-ban span {
    font-size: 20px;
    font-weight: bold;
    color: rgb(250, 67, 35);
}

.item .gia-truoc-giam span {
    font-size: 12px;
    text-decoration: line-through;
    
}






#danh-sach-san-pham .item .anh-san-pham {
    width: 200px;
    height: 200px;
    text-align: center;
    display: flex;
    align-items: center;
}

#danh-sach-san-pham .item .anh-san-pham img {
    width: 95%;
    height: 100%;
    object-fit: contain;

}

#danh-sach-san-pham .item .thong-tin-san-pham {
 
    padding-top: 20px;
    width: 100%;
    height: fit-content;

    display: block;
}

.phan-tram-giam-gia{
    width: 40px;
    height: 36px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    text-align: center;
    padding-top: 2px;
    color: #fff;
    font-weight: bold;
    background-image: url(images/deal-tag.png);
    background-repeat: no-repeat;
}



#danh-sach-san-pham .btn-them-san-pham {
    display: block;
    width: 15px;
    height: 15px;
    text-align: center;
    padding: 7px;
    border: 1px solid #ddd;
    border-radius: 3px;
    position: absolute;
    right: 40px;
    bottom: 30px;
    cursor: pointer;
}

#danh-sach-san-pham .btn-xoa-san-pham {
    display: block;
  
    width: 15px;
    height: 15px;
    text-align: center;
    padding: 7px;
    border: 1px solid #ddd;
    border-radius: 3px;
    position: absolute;
    right: 10px;
    bottom: 30px;
    cursor: pointer;
}
#danh-sach-san-pham .item:hover {

    transform: translateY(-4px);
    transition: transform 0.3s ease-in-out;
}

#danh-sach-san-pham {
    display: flex;
    flex-wrap: wrap;

}

#myModal {
    display: none;
}

.login-signup-label {
    float: right;
}

.login-signup-label ul li{
    float: left;
    list-style: none;
    height: 40px;
    width: 100px;
    box-sizing: border-box;
   
    
}
.login-signup-label ul li a{
    text-decoration: none;
    color: white;
    height: 40px;

    padding: 10px;
    display: block;
  
}

/* modal */
.modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
}

.modal .form {
    box-sizing: border-box;
    width: 500px;
    background-color: #fff;
    padding: 40px;
    margin: 10% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    position: relative;
}

.form label,
.form input {
    width: 100%;
    box-sizing: border-box;
    margin: 5px 0px;

}

.form label {

    font-size: 17px;
    font-weight: bold;
}

.form input {
    padding: 7px 10px;
    margin-bottom: 15px;
}

.form .hien-thi-loi {
    margin-top: -10px;
    margin-bottom: 10px;
 
}

.form .hien-thi-loi p{
    font-size: 12px !important;
    color: red;
}   
.container-btn {
   text-align: right;
   margin-top: 20px;
}



.form button {
    width: 100px;
    padding: 10px 10px;
    background-color: rgb(76, 175, 80);
    border: none;
    color: white;
}

.form .header span#close, #close-x {
    position: absolute;
    right: 8%;
    top: 5%;
    color: #000;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}

.modal-backdrop{
 z-index: 0;
}

#modal-xoa-san-pham {
    display: none;
}